<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tom.mybatis01.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.tom.mybatis01.entity.UserEntity">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="gender" jdbcType="VARCHAR" property="gender" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="province" jdbcType="VARCHAR" property="province" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="birthday" jdbcType="DATE" property="birthday" />
    </resultMap>
    <select id="getAllUserList" resultMap="BaseResultMap">
        select id,user_name,password,gender,email,province,city,birthday from user
    </select>
</mapper>